<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d6b14f82-1f7d-4baa-bdf0-486b7296aff2/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/JWTTokenAuthInAspNet620220307180131</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <ApiResourceId>/subscriptions/d6b14f82-1f7d-4baa-bdf0-486b7296aff2/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/JWTTokenAuthInAspNet6api/apis/JWTTokenAuthInAspNet6</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jwttokenauthinaspnet620220307180131.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7036f8b4-2ba6-4779-b438-f7d2f3cd071f</ProjectGuid>
    <MSDeployServiceURL>jwttokenauthinaspnet620220307180131.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JWTTokenAuthInAspNet620220307180131</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$JWTTokenAuthInAspNet620220307180131</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>